.card{
    background-color: var(--secondary-color);
    /* border: none; */
    /* box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3); */
    width: 1200px;
}

input[type = text], input[type = email]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}
.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.subs-text{
    width: 500px;
}