<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3"><a href="" class="nav-link">Design</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">Inspirations</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">Sports</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">Politics</a></li>
            </ul>
        </div>
    </div>
</nav>