<div class="card shadow-effect mt-5">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>you can leave a commment using this comment form</p>

        <form action="">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="enter your name here">
            </div>
            <div class="form-group">
                <label for="">Comment</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control shadow-effect" placeholder="enter your comment here"></textarea>
            </div>

            <button class="btn btn-info btn-theme">Add a comment</button>
        </form>
    </div>
</div>