<app-header></app-header>

<app-category-navbar></app-category-navbar>

<div class="app-body">
    <!-- <app-post-card></app-post-card>
    <app-subscription-form></app-subscription-form> -->
    <router-outlet></router-outlet>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <app-subscription-form></app-subscription-form>
    </div>
</div>


<app-footer></app-footer>

