<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">comments (15,250)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit placeat doloremque a itaque, sint facilis quisquam delectus earum ratione iusto aliquam corporis ullam at esse cum atque! Distinctio, quo?
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit placeat doloremque a itaque, sint facilis quisquam delectus earum ratione iusto aliquam corporis ullam at esse cum atque! Distinctio, quo?
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit placeat doloremque a itaque, sint facilis quisquam delectus earum ratione iusto aliquam corporis ullam at esse cum atque! Distinctio, quo?
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
    </div>
</div>
