<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white text-capitalize">featured post</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia possimus magni, quo perspiciatis repellendus ea et qui sequi nemo enim deleniti esse impedit dignissimos fuga eaque eius. Quisquam, voluptas quo!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate voluptates consequatur, aliquam, modi nesciunt illo corporis rerum provident, perspiciatis rem ratione molestiae sapiente alias nemo. Reiciendis facere pariatur veniam!</p>
    </div>
    
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>