<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center">Featured</small>
                    <small class="bg-light text-info text-center">views - 125,000</small>
                    <small class="bg-light text-warning text-center">LAST UPDATED - SEP 20, 2023</small>
                    
                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023 EDITED BY NEW CATEGORY</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, perspiciatis optio consequuntur iste quas similique sequi magni iusto tempore commodi ratione ut laborum. Distinctio, voluptates eos soluta voluptas sed iure!

                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, perspiciatis optio consequuntur iste quas similique sequi magni iusto tempore commodi ratione ut laborum. Distinctio, voluptates eos soluta voluptas sed iure!

                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, perspiciatis optio consequuntur iste quas similique sequi magni iusto tempore commodi ratione ut laborum. Distinctio, voluptates eos soluta voluptas sed iure!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, perspiciatis optio consequuntur iste quas similique sequi magni iusto tempore commodi ratione ut laborum. Distinctio, voluptates eos soluta voluptas sed iure!
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>