footer{
    height: 130px;
    padding: 15px;
    background-color: var(--navbar-footer-color);
    margin-top: 85vh;
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2em;
}

.nav-link{
    color: var(--primary-color);
}