<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">
                    ANG-BLOG
                </div>
                <div class="">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Terms & Conditions</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                    </ul>
                </div>

                <p class="mb-2 mt-2">Copyright 2023 Angular Blogsite</p>
            </div>
        </div>
    </div>
</footer>