/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #026467;
    --secondary-color: #E5F5EA;  
    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}
input[type=text], input[type=email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}
.bg-theme{
    background-color: var(--primary-color);
}
.btn-theme{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}