<div class="card">
    <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=600" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views  - 125020</small>

        <h5 class="mt-1">How to start a blog in 2023</h5>
        <p>Lorem psum sdj fsjd hfsd jfsdjf skldjf lsdj flsd flksdj lfsd fjlksdlk fsd fs</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2023</small>
    </div>
</div>